* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: hankengrotesk;
    src: url(/assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
    font-weight: 500, 700, 800;
}

:root {
    --Lightred: hsl(0, 100%, 67%);
    --Orangeyyellow: hsl(39, 100%, 56%);
    --Greenteal: hsl(166, 100%, 37%);
    --Cobaltblue: hsl(234, 85%, 45%); 
    --Lightslateblue: hsl(252, 100%, 67%);
    --Lightroyalblue: hsl(241, 81%, 54%);

    --Violetblue: hsla(256, 72%, 46%, 1);
    --Persianblue: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Paleblue: hsl(221, 100%, 96%);
    --Lightlavender: hsl(240,71%,97%);
    --Darkgrayblue: hsl(224, 30%, 27%);
    --lightPink: hsl(6,100%,98%);
    --lightYellow: hsl(42,100%,97%);
    --lightGreen: hsl(180,44%,96%);
    --grey:hsl(232,8%,64%);

    /* fonts */
    --hanken: "hankengrotesk", sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: var(--hanken);
    font-size: 18px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 30px var(--Lightlavender);
}

.leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    width: 20rem;
    height: 30rem;
    background: linear-gradient(var(--Lightslateblue), var(--Lightroyalblue));
    color: var(--Lightlavender);
    text-align: center;
    padding: 2rem;
}

.circle {
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(var(--Violetblue), var(--Persianblue));
}

h1, h2{
    color: var(--White);   
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.title {
    font-weight: 700;
    font-size: 20px;
}
.rightSide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border-radius: 20px;
    width: 20rem;
    height: 30rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2.2rem;
    padding-bottom: 1rem;
    gap: 0.6rem;
    

}

.catagories {
    display: flex;
    flex-direction: column;
    /* border: solid red; */
    width: 16rem;
    gap: 1rem;
}

.red, 
.yellow, 
.green,
.blue {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    border-radius: 8px;
    font-weight: 600;
    /* border: solid; */
}

.colorLeft, 
.scores {
    display: flex;
    gap: 0.5rem;
}

.red {
    background-color: var(--lightPink);
    
}

.yellow {
    background-color: var(--lightYellow);
}

.green {
    background-color: var(--lightGreen);
}

.blue {
    background-color: var(--Lightlavender);
}

#redcolor {
    color: var(--Lightred);
}

#yellowcolor {
    color: var(--Orangeyyellow);
}

#greencolor {
    color: var(--Greenteal);
}

#bluecolor {
    color: var(--Cobaltblue);
}

.greyText {
    color: var(--grey);
}

button {
    border: none;
    width: 16rem;
    color: var(--White);
    background-color: var(--Darkgrayblue);
    padding: 1rem;
    border-radius: 30px;
    font-family: var(--hanken);
    font-size: 15px;
}

button:hover {
    cursor: pointer;
    background: linear-gradient(var(--Lightslateblue), var(--Lightroyalblue));

}

